{% extends 'blog/base.html' %}
{% block title %} Change Password {% endblock %}
{% block content %}
<div class="jumbotron">
    <h2>Change Password</h2>
    

    <div class="form-group">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <span class="helptext">
                <ul>
                    <li>Your password cant be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password cant be a commonly used password.</li>
                    <li>Your password cant be entirely numeric.</li>
                </ul>
            </span>
            <button class="btn btn-primary">Change Password</button>
        </form>
    </div>

    
</div>
{% endblock %}
<!--the change password functionality is a built in django view, to see where the view comnes from check memebers/urls.py-->